<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="location" value="https://github.com/" />
    <add key="browser" value="Firefox" />
    <add key="failed-screenshots-path" value="Screenshots\" />
    <add key="test-data-path" value="TestData\" />
  </appSettings>
</configuration>