<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--browser: Firefox, InternetExplorer, Chrome -->
    <add key="browser" value="Chrome" />
    <add key="test-data-path" value="TestData\" />
    <add key="test-result-path" value="TestResults\" />
    <!--<add key="wait-timeout" value="20" />-->
  </appSettings>
</configuration>