<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="location" value="https://github.com/" />
    <add key="browser" value="Firefox" />
    <add key="failed-screenshots-path" value="Screenshots\" />
    <add key="test-data-path" value="TestData\" />
  </appSettings>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow></configuration>